@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: url("../public/images/bg.gif");
    background-size: cover;
    background-position: center;
}

#quote-box{
    width: 50%;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.75;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#text{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
#author{
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 20px;
}
#buttons{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.fa-brands{
    margin: 0 10px 15px 10px;
}
#new-quotes{
    position: absolute;
    right:0px;
}
